<%- include("header") -%>
  <div class="box">
    <h2>This is the about page</h2>
    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Vitae rerum voluptatibus dolorem, adipisci minus quam cupiditate officiis recusandae temporibus suscipit cum doloribus repudiandae nulla repellat, itaque quibusdam dignissimos ullam sequi.</p>
  </div>
<%- include("footer") -%>